DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cafe_menu?schema=public"

NEXT_PUBLIC_APP_URL="https://your-domain.ru"
TELEGRAM_BOT_TOKEN="123456789:telegram-bot-token"
TELEGRAM_WAITER_CHAT_ID="-1001234567890"
